.maincont {
    padding-top: 40px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 2%;
    min-height: calc(100vh - 70px);
}

.navbar {
    border-top: 5px solid orange;
    border-bottom: 5px solid orange;
}

.navbarleftmargin {
    margin-left: 20%;
}

.btnmarging {
    margin-left: 25px;
    margin-right: 25px;
}

.textcont {
    background-color: bisque;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 100px;
    padding-right: 100px;
    border: 5px solid orange;
    border-radius: 40px;
    margin-bottom: 25px;
}